.amount-cell {
  text-align: end;
}

.action-cell {
  display: inline-flex;
  gap: 5px;
  margin-left: auto;
  justify-content: flex-end;
}

.action-cell2 {
  text-align: end;
  margin-left: auto;
}

.back-button:visited {
  color: #6f6f6f;
}

.Polaris-TextField__VerticalContent {
  overflow: unset;
}

.collapsible-ingredient-group>.Polaris-Link:focus {
  outline: none;
}

.week-days-section {
  width: 100%;
  padding: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;

  & label {
    flex-direction: column;
  }
}

.toggle-vip > .Polaris-Icon {
  margin: 0;
}

.toggle-vip > .Polaris-Icon rect {
  fill-opacity: 0.5;
}